<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vitis - About</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Vitis enterprises Healthcare products | General products">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" href="/css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="/css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
  

<!-- Body main wrapper start -->
<div class="body-wrapper">

    <!-- HEADER AREA START (header-3) -->
    <header class="ltn__header-area ltn__header-3 section-bg-6---">
        <!-- ltn__header-top-area start -->
        <div class="ltn__header-top-area border-bottom top-area-color-white---">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 top-header">
                        <div class="ltn__top-bar-menu">
                            <ul>
                                <li><a href="mailto:vitisenterprises@gmail.com"><i
                                            class="icon-mail"></i>vitisenterprises@gmail.com</a></li>
                                <li><a href="#0"><i class="icon-placeholder"></i> Vitis Enterprises
                                        Kerala-689695</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="top-bar-right text-end">
                            <div class="ltn__top-bar-menu">
                                <ul>

                                    <li>
                                        <!-- ltn__social-media -->
                                        <div class="ltn__social-media">
                                            <ul>
                                                <li><a href="#" title="Facebook"><i
                                                            class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                                                </li>

                                                <li><a href="#" title="Instagram"><i
                                                            class="fab fa-instagram"></i></a></li>
                                                <li><a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-top-area end -->
        <!-- ltn__header-middle-area start -->
        <div class="ltn__header-middle-area border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="site-logo">
                            <a href="/"><img class="logo-image" src="img/logo.png" alt="Logo"></a>
                        </div>
                    </div>
                    <div class="col header-contact-serarch-column d-none d-xl-block">
                        <div class="header-contact-search">
                            <!-- header-feature-item -->
                            <div class="header-feature-item d-none">
                                <div class="header-feature-icon">
                                    <i class="icon-phone"></i>
                                </div>
                                <div class="header-feature-info">
                                    <h6>Phone</h6>
                                    <p><a href="tel:+917736921309">+91 7736921309</a></p>
                                </div>
                            </div>
                            <!-- header-search-2 -->
                            <div class="header-search-2">
                                <form method="get" action="/shop">
                                    <input 
                                        type="text" 
                                        name="search" 
                                        value="<%= search || '' %>" 
                                        id="typewriter-search"
                                        placeholder="Search by Products names"
                                        autocomplete="off"
                                    />
                                    <button type="submit">
                                        <span><i class="icon-search"></i></span>
                                    </button>
                                </form>
                                <script>
                                    (function() {
                                        const placeholders = [
                                            "Search by Products names",
                                            "General categories",
                                            "Healthcare categories"
                                        ];
                                        let current = 0;
                                        let charIndex = 0;
                                        let typing = true;
                                        const input = document.getElementById('typewriter-search');
                                        let interval;

                                        function typeWriter() {
                                            if (!input) return;
                                            if (typing) {
                                                if (charIndex < placeholders[current].length) {
                                                    input.setAttribute('placeholder', placeholders[current].substring(0, charIndex + 1));
                                                    charIndex++;
                                                } else {
                                                    typing = false;
                                                    setTimeout(typeWriter, 1200);
                                                    return;
                                                }
                                            } else {
                                                if (charIndex > 0) {
                                                    input.setAttribute('placeholder', placeholders[current].substring(0, charIndex - 1));
                                                    charIndex--;
                                                } else {
                                                    typing = true;
                                                    current = (current + 1) % placeholders.length;
                                                }
                                            }
                                            interval = setTimeout(typeWriter, typing ? 70 : 30);
                                        }


                                        if (input && !input.value) {
                                            typeWriter();
        
                                            input.addEventListener('focus', function() {
                                                clearTimeout(interval);
                                                input.setAttribute('placeholder', '');
                                            });
                                            input.addEventListener('blur', function() {
                                                charIndex = 0;
                                                typing = true;
                                                typeWriter();
                                            });
                                        }
                                    })();
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- header-options -->
                        <div class="ltn__header-options">
                            <ul>

                                <li class="d-none--- ">
                                    <!-- header-search-1 -->
                                    <div class="header-search-wrap d-block d-xl-none">
                                        <div class="header-search-1">
                                            <div class="search-icon">
                                                <i class="icon-search  for-search-show"></i>
                                                <i class="icon-cancel  for-search-close"></i>
                                            </div>
                                        </div>
                                        <div class="header-search-1-form">
                                            <form method="get" action="/shop">
                                                <input type="text" name="search" value="<%= search || '' %>" placeholder="Search here..." />
                                                <button type="submit">
                                                    <span><i class="icon-search"></i></span>
                                                </button>
                                            </form> 
                                        </div>
                                    </div>
                                </li>
                                <li class="d-none---">
                                    <!-- user-menu -->
                                    <div class="ltn__drop-menu user-menu">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon-user"></i></a>
                                                <% if (user) { %>
                                                    <ul>
                                                        <li><a href="/orders">Orders</a></li>
                                                        <li><a href="/cart">Cart</a></li>
                                                        <li><a href="/api/auth/user-logout">Logout</a></li>
                                                    </ul>
                                                    <% } else { %>
                                                        <ul>
                                                            <li><a href="/user-login">Sign in</a></li>
                                                            <li><a href="/user-register">Register</a></li>
                                                        </ul>
                                                        <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <!-- mini-cart 2 -->
                                    <div class="mini-cart-icon mini-cart-icon-2">
                                        <a href="/cart" >
                                            <span class="mini-cart-icon">
                                                <i class="icon-shopping-cart"></i>
                                            </span>
                                            <h6><span>Your Cart</span></h6>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-middle-area end -->

        <!-- MOBILE MENU START -->
        <div class="mobile-header-menu-fullwidth mb-20 d-block d-lg-none">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Mobile Menu Button -->
                        <div class="mobile-menu-toggle d-lg-none">
                            <span>MENU</span>
                            <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                <svg viewBox="0 0 800 600">
                                    <path
                                        d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                                        id="top"></path>
                                    <path d="M300,320 L540,320" id="middle"></path>
                                    <path
                                        d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                                        id="bottom"
                                        transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MOBILE MENU END -->

        <!-- header-bottom-area start -->
        <div
            class="header-bottom-area ltn__border-top--- ltn__header-sticky  ltn__sticky-bg-white ltn__primary-bg---- menu-color-white---- d-none--- d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 align-self-center">
                        <!-- CATEGORY-MENU-LIST START -->
                        <div
                            class="ltn__category-menu-wrap ltn__category-dropdown-hide ltn__category-menu-with-header-menu">
                            <div class="ltn__category-menu-title">
                                <h2 class="section-bg-1--- ltn__secondary-bg text-color-white">categories</h2>
                            </div>
                            <div class="ltn__category-menu-toggle ltn__one-line-active">
                                <ul>
                                    <li class="ltn__category-menu-item ltn__category-menu-drop">
                                        <a href="/shop?category=General&page=1"><i class="fa fa-hospital"></i> General</a>
                                    </li>
                               
                                    <li class="ltn__category-menu-item ltn__category-menu-drop">
                                        <a href="/shop?category=Healthcare&page=1"><i class="fa fa-notes-medical"></i> Health Care</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-7">
                        <div class="col--- header-menu-column justify-content-center---">
                            <div class="header-menu header-menu-2 text-center">
                                <nav>
                                    <div class="ltn__main-menu">
                                        <ul>
                                            <li><a href="/">Home</a>
                                            </li>
                                            <li><a href="/shop">Shop</a>
                                            </li>
                                            <li><a href="/about">About</a>
                                            </li>
                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-2 align-self-center d-none d-xl-block">
                        <div class="header-contact-info text-end">
                            <a class="font-weight-6 ltn__primary-color" href="tel:+917736921309"><span
                                    class="ltn__secondary-color"><i class="icon-call font-weight-7"></i></span> +91
                                7736921309</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom-area end -->
    </header>
    <!-- HEADER AREA END -->

    <!-- Utilize Mobile Menu Start -->
    <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <div class="site-logo">
                    <a href="/"><img src="img/logo.png" alt="Logo"></a>
                </div>
                <button class="ltn__utilize-close">×</button>
            </div>

            <div class="ltn__utilize-menu">
                <ul>
                    <li><a href="/">Home</a>
                    </li>
                    <li><a href="/shop">Shop</a>
                    </li>
                    <li><a href="/about">About</a>
                    </li>
                    <li><a href="/blogs">Blogs</a>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
                <ul>
                    <li>
                        <a href="/cart" title="My Cart">
                            <span class="utilize-btn-icon">
                                <i class="far fa-user"></i>
                            </span>
                            My Cart
                        </a>
                    </li>
                    <li>
                        <a href="/orders" title="Orders">
                            <span class="utilize-btn-icon">
                                <i class="far fa-heart"></i>
                            </span>
                            Orders
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ltn__social-media-2">
                <ul>
                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Utilize Mobile Menu End -->


    <div class="ltn__utilize-overlay"></div>

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="img/bg/14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">About Us</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                                <li>About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area pt-25--- pb-120 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-left">
                        <img src="img/bg/about.jpg" alt="About Us Image">
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2--- mb-20">
                            <h6 class="section-subtitle section-subtitle-2--- ltn__secondary-color">VITIS ENTERPRISES
                            </h6>
                            <h1 class="section-title">General Trading Products</h1>
                            <p>Discover Essential Products for a Healthier Lifestyle Empower your well-being with
                                products that help you stay fit, healthy, and safe.</p>
                        </div>
                        <ul class="ltn__list-item-half clearfix">
                            <li>
                                <i class="flaticon-home-2"></i>
                                High Quality Assurance
                            </li>
                            <li>
                                <i class="flaticon-mountain"></i>
                                No Harmful Chemicals
                            </li>
                            <li>
                                <i class="flaticon-heart"></i>
                                Trusted and Certified Sources
                            </li>
                            <li>
                                <i class="flaticon-secure"></i>
                                ISO Certified
                            </li>
                        </ul>
                        <div class="btn-wrapper animated">
                            <a href="/shop" class="ltn__secondary-color text-uppercase text-decoration-underline">View
                                Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT US AREA END -->
    <div class="ltn__call-to-action-area section-bg-1 bg-image pt-120 pb-120" data-bs-bg="img/bg/25.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="call-to-action-inner text-color-white--- text-center---">
                        <div class="section-title-area ltn__section-title-2--- text-center---">
                            <h6 class="ltn__secondary-color">VITIS ENTERPRISES</h6>
                            <h1 class="section-title">Secure and Hygenic</h1>
                            <p>Our premier brand, Vitis, focuses on delivering high-quality healthcare and general
                                trading products to support overall wellness and healthier lifestyles. We are committed
                                to promoting health within our communities through sustainable and ethically sourced
                                products, ensuring we act responsibly as a business while providing essential solutions
                                for your well-being</p>
                        </div>
                        <div class="btn-wrapper animated">
                            <a href="/about" class="theme-btn-1 btn btn-effect-1 text-uppercase">About Us</a>
                            <a href="/contact" class="ltn__secondary-color text-decoration-underline">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- <img src="img/banner/15.png" alt="#"> -->
                </div>
            </div>
        </div>
    </div>
   
    <div class="ltn__banner-area mt-120">
        <div class="container">
            <div class="row ltn__custom-gutter--- justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="ltn__banner-item">
                        <div class="ltn__banner-img">
                            <a href="/shop"><img src="img/bg/banner1.jpg" alt="Banner Image"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ltn__banner-item">
                        <div class="ltn__banner-img">
                            <a href="/shop"><img src="img/bg/banner2.jpg" alt="Banner Image"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ltn__banner-item">
                        <div class="ltn__banner-img">
                            <a href="/shop"><img src="img/bg/banner3.jpg" alt="Banner Image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FEATURE AREA START ( Feature - 6) -->
    <div class="ltn__feature-area pt-90 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2--- text-center">
                        <h1 class="section-title">Core Features</h1>
                        <p class="mt-2">Discover what makes Vitis Enterprises your trusted partner for quality products and services.</p>
                    </div>
                </div>
            </div>
            <div class="row ltn__custom-gutter">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6 text-center">
                        <div class="ltn__feature-icon">
                            <img src="img/icons/icon-img/24.png" alt="Secure Shipping">
                        </div>
                        <div class="ltn__feature-info">
                            <h4><a href="#">Secure Shipping</a></h4>
                            <p>Your orders are packed and shipped with utmost care, ensuring safe and timely delivery to your doorstep, every time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6 text-center active">
                        <div class="ltn__feature-icon">
                            <img src="img/icons/icon-img/25.png" alt="7 Days Returns">
                        </div>
                        <div class="ltn__feature-info">
                            <h4><a href="#">7 Days Returns</a></h4>
                            <p>Shop with confidence! If you're not satisfied, you can return your products within 7 days for a hassle-free refund or exchange.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6 text-center">
                        <div class="ltn__feature-icon">
                            <img src="img/icons/icon-img/26.png" alt="Quality Product">
                        </div>
                        <div class="ltn__feature-info">
                            <h4><a href="#">Quality Product</a></h4>
                            <p>We source and deliver only the best products, meeting strict quality standards to ensure your satisfaction and safety.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6 text-center">
                        <div class="ltn__feature-icon">
                            <img src="img/icons/icon-img/27.png" alt="24/7 Support">
                        </div>
                        <div class="ltn__feature-info">
                            <h4><a href="#">24/7 Support</a></h4>
                            <p>Our dedicated customer support team is available around the clock to assist you with any questions or concerns.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <h5>Why Choose Us?</h5>
                    <p>
                        At Vitis Enterprises, we are committed to providing a seamless shopping experience, from browsing to delivery. Our focus on quality, customer satisfaction, and ethical business practices sets us apart in the industry.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

    <!-- PROGRESS BAR AREA START -->
    <div class="ltn__progress-bar-area section-bg-1 pt-120 pb-10 mb-120 d-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__progress-bar-wrap">
                        <div class="ltn__progress-bar-inner">
                            <div class="row">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="ltn__progress-bar-item-2 text-center">
                                        <div class="progress" data-value='78'>
                                            <span class="progress-left">
                                                <span class="progress-bar border-primary"></span>
                                            </span>
                                            <span class="progress-right">
                                                <span class="progress-bar border-primary"></span>
                                            </span>
                                            <div class="progress-value">
                                                <div class="progress-count">78<sup class="small">%</sup></div>
                                            </div>
                                        </div>
                                        <div class="ltn__progress-info">
                                            <h3>Project Done</h3>
                                            <p>Construction Simulator</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="ltn__progress-bar-item-2 text-center">
                                        <div class="progress" data-value='62'>
                                            <span class="progress-left">
                                                <span class="progress-bar border-danger"></span>
                                            </span>
                                            <span class="progress-right">
                                                <span class="progress-bar border-danger"></span>
                                            </span>
                                            <div class="progress-value">
                                                <div class="progress-count">62<sup class="small">%</sup></div>
                                            </div>
                                        </div>
                                        <div class="ltn__progress-info">
                                            <h3>Country Cover</h3>
                                            <p>Construction Simulator</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="ltn__progress-bar-item-2 text-center">
                                        <div class="progress" data-value='50'>
                                            <span class="progress-left">
                                                <span class="progress-bar border-success"></span>
                                            </span>
                                            <span class="progress-right">
                                                <span class="progress-bar border-success"></span>
                                            </span>
                                            <div class="progress-value">
                                                <div class="progress-count">50<sup class="small">%</sup></div>
                                            </div>
                                        </div>
                                        <div class="ltn__progress-info">
                                            <h3>Completed Co.</h3>
                                            <p>Construction Simulator</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="ltn__progress-bar-item-2 text-center">
                                        <div class="progress" data-value='90'>
                                            <span class="progress-left">
                                                <span class="progress-bar border-warning"></span>
                                            </span>
                                            <span class="progress-right">
                                                <span class="progress-bar border-warning"></span>
                                            </span>
                                            <div class="progress-value">
                                                <div class="progress-count">90<sup class="small">%</sup></div>
                                            </div>
                                        </div>
                                        <div class="ltn__progress-info">
                                            <h3>Happy Clients</h3>
                                            <p>Construction Simulator</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PROGRESS BAR AREA END -->

    <!-- COUNTER UP AREA START -->
    <div class="ltn__counterup-area section-bg-1 bg-image bg-overlay-theme-black-80--- pt-115" data-bs-bg="img/bg/30.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-center">
                        <div class="counter-icon"> 
                            <!-- <img src="img/icons/icon-img/2.png" alt="#">  -->
                            <i class="flaticon-add-user-1"></i>
                        </div>
                        <h1><span class="counter">2000</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Active Clients</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-center">
                        <div class="counter-icon"> 
                            <!-- <img src="img/icons/icon-img/3.png" alt="#">  -->
                            <i class="flaticon-dining-table-with-chairs"></i>
                        </div>
                        <h1><span class="counter">100</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Products</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-center">
                        <div class="counter-icon"> 
                            <!-- <img src="img/icons/icon-img/3.png" alt="#">  -->
                            <i class="flaticon-package"></i>
                        </div>
                        <h1><span class="counter">5000</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Deliveries</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-center">
                        <div class="counter-icon"> 
                            <!-- <img src="img/icons/icon-img/3.png" alt="#">  -->
                            <i class="flaticon-maps-and-location"></i>
                        </div>
                        <h1><span class="counter">28</span><span class="counterUp-icon">+</span> </h1>
                        <h6>States Covered</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COUNTER UP AREA END -->

    <!-- TESTIMONIAL AREA START (testimonial-4) -->
    <div class="ltn__testimonial-area section-bg-1 pt-115 pb-70">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title">Clients Feedbacks<span>.</span></h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__testimonial-slider-3-active slick-arrow-1 slick-arrow-1-inner">
                <div class="col-lg-12">
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                        <div class="ltn__testimoni-img">
                            <img src="img/testimonial/1.jpg" alt="testimonials">
                        </div>
                        <div class="ltn__testimoni-info">
                            <p>I ordered medical supplies from vitisenterprises and received them quickly. The quality is excellent and the prices are very reasonable. Highly recommended for genuine products online.</p>
                            <h4>Priya Sharma</h4>
                            <h6>Doctor, Mumbai</h6>
                        </div>
                        <div class="ltn__testimoni-bg-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                        <div class="ltn__testimoni-img">
                            <img src="img/testimonial/1.jpg" alt="testi">
                        </div>
                        <div class="ltn__testimoni-info">
                            <p>vitisenterprises is my go-to website for all general and healthcare products. The customer support is very helpful and the delivery is always on time. I trust them for my family's needs.</p>
                            <h4>Rahul Verma</h4>
                            <h6>Business Owner, Delhi</h6>
                        </div>
                        <div class="ltn__testimoni-bg-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                        <div class="ltn__testimoni-img">
                            <img src="img/testimonial/1.jpg" alt="testi">
                        </div>
                        <div class="ltn__testimoni-info">
                            <p>I found a wide range of medical and daily use products on vitisenterprises. The website is easy to use and the products are authentic. I am very satisfied with my shopping experience.</p>
                            <h4>Meena Iyer</h4>
                            <h6>Homemaker, Bengaluru</h6>
                        </div>
                        <div class="ltn__testimoni-bg-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                        <div class="ltn__testimoni-img">
                            <img src="img/testimonial/1.jpg" alt="testi">
                        </div>
                        <div class="ltn__testimoni-info">
                            <p>As a pharmacist, I rely on vitisenterprises for genuine medical products. Their service is prompt and the packaging is secure. I appreciate their commitment to quality.</p>
                            <h4>Arjun Patel</h4>
                            <h6>Pharmacist, Ahmedabad</h6>
                        </div>
                        <div class="ltn__testimoni-bg-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                        <div class="ltn__testimoni-img">
                            <img src="img/testimonial/1.jpg" alt="testi">
                        </div>
                        <div class="ltn__testimoni-info">
                            <p>Shopping on vitisenterprises has been a great experience. The variety of products and the easy checkout process make it my preferred e-commerce site for health and general items.</p>
                            <h4>Sneha Nair</h4>
                            <h6>IT Professional, Kochi</h6>
                        </div>
                        <div class="ltn__testimoni-bg-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
    <!-- TESTIMONIAL AREA END -->

    <!-- FAQ AREA START (faq-2) (ID > accordion_2) -->
    <div class="ltn__faq-area pt-115 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title white-color---">Some Questions</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ltn__faq-inner ltn__faq-inner-2">
                        <div id="accordion_2">
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-1" aria-expanded="false">
                                    How do I buy a product on Vitis Enterprises?
                                </h6>
                                <div id="faq-item-2-1" class="collapse" data-bs-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>
                                            To purchase a product, simply browse our shop and add your desired items to the cart. Once you are ready, proceed to checkout, fill in your shipping and payment details, and confirm your order. You will receive an order confirmation via email.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-2" aria-expanded="true"> 
                                    How can I request a refund?
                                </h6>
                                <div id="faq-item-2-2" class="collapse show" data-bs-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>
                                            If you are not satisfied with your purchase, you can request a refund by contacting our customer support within 7 days of receiving your order. Please provide your order number and reason for the refund. Our team will guide you through the process and initiate the refund as per our policy.
                                        </p>
                                    </div>
                                </div>
                            </div>                          
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-3" aria-expanded="false">
                                    I am a new user. How do I get started?
                                </h6>
                                <div id="faq-item-2-3" class="collapse" data-bs-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>
                                            Welcome! To get started, you can create an account by clicking on the "Register" button at the top of the page. After registering, you can log in, browse our products, and place your first order. If you need any assistance, our support team is here to help.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-4" aria-expanded="false">
                                    What is your return and refund policy?
                                </h6>
                                <div id="faq-item-2-4" class="collapse" data-bs-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>
                                            We accept returns for most products within 7 days of delivery, provided the items are unused and in their original packaging. To initiate a return, please contact our support team. Once we receive and inspect the returned item, we will process your refund within 5-7 business days.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-5" aria-expanded="false">
                                    Are my personal and payment details secure?
                                </h6>
                                <div id="faq-item-2-5" class="collapse" data-bs-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>
                                            Yes, your security is our priority. We use industry-standard encryption and security measures to protect your personal and payment information. We do not store your payment details, and all transactions are processed through secure payment gateways.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-6" aria-expanded="false">
                                    How can I contact customer support?
                                </h6>
                                <div id="faq-item-2-6" class="collapse" data-bs-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>
                                            You can reach our customer support team via the "Contact Us" page on our website or by emailing support@vitisenterprises.com. We aim to respond to all queries within 24 hours.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-7" aria-expanded="false">
                                    Do you offer bulk or wholesale orders?
                                </h6>
                                <div id="faq-item-2-7" class="collapse" data-bs-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>
                                            Yes, we offer bulk and wholesale purchasing options for businesses and institutions. Please contact us directly with your requirements, and our team will provide you with a customized quote and further assistance.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <aside class="about-us-img-wrap about-img-right">
                        <img src="img/bg/team.jpeg" alt="Banner Image">
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ AREA START -->

    <!-- FEATURE AREA START ( Feature - 6) -->
    <div class="ltn__feature-area section-bg-1 pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h6 class="section-subtitle ltn__secondary-color">Our Strengths</h6>
                        <h1 class="section-title">Why Choose Vitis Enterprises<span>.</span></h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <span><i class="fas fa-hand-holding-medical"></i> </span>
                            </div>
                            <h3>Trusted Quality</h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>We source and deliver only the highest quality products, ensuring safety, reliability, and satisfaction for every customer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <span><i class="fas fa-microscope"></i> </span>
                            </div>
                            <h3>Carefully Curated Selection</h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>Our team handpicks every product, focusing on innovation, effectiveness, and the needs of our customers in both healthcare and general trading.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <span><i class="fas fa-stethoscope"></i> </span>
                            </div>
                            <h3>Safe & Sustainable</h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>We are committed to offering products that are free from harmful chemicals and pesticides, supporting a healthier lifestyle and a cleaner environment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

 

    <!-- CALL TO ACTION START (call-to-action-6) -->
    <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="img/1.jpg--">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                        <div class="coll-to-info text-color-white">
                            <h1>Buy medical disposable face mask <br> to protect your loved ones</h1>
                        </div>
                        <div class="btn-wrapper">
                            <a class="btn btn-effect-3 btn-white" href="/shop">Explore Products <i class="icon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL TO ACTION END -->

    <!-- FOOTER AREA START -->
    <footer class="ltn__footer-area  ">
        <div class="footer-top-area  section-bg-2 plr--5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about-widget">
                            <div class="footer-logo">
                                <div class="site-logo">
                                    <img style="width: 130px;" src="img/logo.png" alt="Logo">
                                </div>
                            </div>
                            <p>Vitis provides customers with high-quality healthcare and general trading products, offering competitive prices and value-packed combo deals.</p>
                           

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Links</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="/blogs">Blogs</a></li>
                                    <li><a href="/contact">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Services</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/user-login">Login</a></li>
                                    <li><a href="/user-register">Register</a></li>
                                    <li><a href="/about">Terms & Conditions</a></li>
                                    <li><a href="/about">Privacy & policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Customer Care</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/cart">My cart</a></li>
                                    <li><a href="/orders">My orders</a></li>
                                    <li><a href="/contact">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                        <div class="footer-widget footer-newsletter-widget">
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-placeholder"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p>Vitis Enterprises, Pathanapuram
                                                Kollam (District), Kerala-689695</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="mt-30">We Accept</h5>
                            <img src="img/icons/payment-4.png" alt="Payment Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ltn__copyright-area ltn__copyright-2 section-bg-7  plr--5">
            <div class="container-fluid ltn__border-top-2">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="ltn__copyright-design clearfix">
                            <p>
                                All Rights Reserved @ Vitis Enterprises <span class="current-year"></span> | Developed by <a href="https://trivlogic.com/" target="_blank" rel="noopener">Trivlogic Pvt Ltd</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER AREA END -->
    <!-- Mobile Bottom Navbar -->
    <div class="floating-buttons">
        <a href="mailto:vitisenterprises@gmail.com" class="email-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <rect x="3" y="4" width="18" height="16" rx="2" ry="2" />
                <path d="M3 6l9 6 9-6" />
            </svg>
        </a>
        <a href="https://wa.me/+917736921309" class="whatsapp-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path
                    d="M12 2C6.5 2 2 6.5 2 12c0 1.8 0.5 3.5 1.3 5L2 22l5.1-1.3c1.5 0.8 3.1 1.2 4.9 1.2 5.5 0 10-4.5 10-10S17.5 2 12 2z"
                    fill="none" stroke="currentColor" />
                <path
                    d="M17 15.5c-0.2 0.7-1.2 1.2-1.7 1.3-0.4 0.1-1 0.1-1.6-0.1-0.4-0.1-0.8-0.3-1.4-0.5-2.6-1.1-4.2-3.6-4.4-3.8-0.1-0.2-1-1.4-1-2.6 0-1.3 0.7-1.9 0.9-2.1 0.2-0.2 0.5-0.3 0.7-0.3 0.2 0 0.3 0 0.5 0 0.2 0 0.4-0.1 0.6 0.4 0.2 0.5 0.7 1.7 0.8 1.8 0.1 0.1 0.1 0.3 0 0.4-0.1 0.2-0.1 0.2-0.2 0.4-0.1 0.1-0.3 0.3-0.4 0.4-0.1 0.1-0.2 0.3-0.1 0.5 0.1 0.2 0.5 0.8 1.1 1.3 0.7 0.7 1.4 0.9 1.6 1 0.2 0.1 0.4 0.1 0.5-0.1 0.2-0.1 0.7-0.8 0.8-1 0.2-0.3 0.3-0.2 0.6-0.1 0.2 0.1 1.5 0.7 1.8 0.8 0.3 0.1 0.4 0.2 0.5 0.3 0.1 0.1 0.1 0.7-0.2 1.3z"
                    fill="currentColor" stroke="none" />
            </svg>

        </a>
        <a href="tel:+917736921309" class="phone-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path
                    d="M22 16.92V19a2 2 0 0 1-2 2 17.9 17.9 0 0 1-8-2 17.9 17.9 0 0 1-8-8 17.9 17.9 0 0 1-2-8A2 2 0 0 1 5 1h2.08a2 2 0 0 1 2 .72l2.83 3.42a2 2 0 0 1-.25 2.77L9.91 10.08a16 16 0 0 0 4 4l2.17-1.75a2 2 0 0 1 2.77-.25l3.42 2.83a2 2 0 0 1 .72 2z" />
            </svg>
        </a>
    </div>
    <!-- Mobile Bottom Navbar -->
    <nav class="mb_navbar_container">
        <a href="/" class="mb_navbar_item">
            <div class="mb_navbar_icon_wrapper">
                <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
            </div>
            <span class="mb_navbar_label">Home</span>
        </a>

        <a href="/shop" class="mb_navbar_item">
            <div class="mb_navbar_icon_wrapper">
                <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <rect x="2" y="3" width="20" height="18" rx="2" ry="2"></rect>
                    <line x1="2" y1="8" x2="22" y2="8"></line>
                    <line x1="12" y1="8" x2="12" y2="21"></line>
                    <line x1="7" y1="14.5" x2="7" y2="14.51"></line>
                    <line x1="17" y1="14.5" x2="17" y2="14.51"></line>
                </svg>
            </div>
            <span class="mb_navbar_label">Shop</span>
        </a>
        <a href="/cart" class="mb_navbar_item">
            <div class="mb_navbar_icon_wrapper">
                <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>

            </div>
            <span class="mb_navbar_label">Cart</span>
        </a>
        <% if (user) { %>
            <a href="/orders" class="mb_navbar_item">
                <div class="mb_navbar_icon_wrapper">
                    <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-2" />
                        <path d="M9 14h6" />
                        <path d="M6 10h12" />
                        <path d="M3 6h18" />
                    </svg>
                </div>
                <span class="mb_navbar_label">Orders</span>
            </a>     
            <% } else { %>
                <a href="/contact" class="mb_navbar_item">
                    <div class="mb_navbar_icon_wrapper">
                        <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M21 10.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4.5" />
                            <polyline points="17 8 21 12 17 16" />
                            <line x1="21" y1="12" x2="9" y2="12" />
                        </svg>
                    </div>
                    <span class="mb_navbar_label">Contact</span>
                </a>
                <% } %>



                    <% if (user) { %>
                        <a href="/api/auth/user-logout" class="mb_navbar_item">
                            <div class="mb_navbar_icon_wrapper">
                                <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                            <span class="mb_navbar_label">Logout</span>
                        </a>
                        <% } else { %>
                            <a href="/user-login" class="mb_navbar_item">
                                <div class="mb_navbar_icon_wrapper">
                                    <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                    </svg>
                                </div>
                                <span class="mb_navbar_label">Login</span>
                            </a>
                            <% } %>
    </nav>

</div>
<!-- Body main wrapper end -->

 
    <!-- preloader area end -->

    <!-- All JS Plugins -->
    <script src="/js/plugins.js"></script>
    <!-- Main JS -->
    <script src="/js/main.js"></script>
  
</body>
</html>

